#Right{
	width:740px;
	margin:0 0 20px 0;
	padding:20px;
	border-radius: 5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	background-color:#FFFFFF;
	box-shadow:5px 5px 7px #999;
	-webkit-box-shadow:5px 5px 7px #999;
	-moz-box-shadow:5px 5px 7px #999;
}

.modifyPersonalInfo-title h4{
	color:#87ceeb;
	margin:0 0 10px 20px;
}
.modifyPersonalInfo-title{
	width:700px;
	margin:0 0 20px 0;
	border-bottom:2px solid #87ceeb;
}
.span12{
	width:960px;
}

/*���������޸Ŀ�ʼ*/
#modifyPersonalInfo{
	width:600px;
	margin:10px 0 0 100px;
}
.inputInfo{
	margin:0 20px 0 0;
}
.Required{
	color:red;
}
.help-inline{
	color:red;
	margin:0 0 0 20px;
}
#inputInfo{
	font-size:11px;
	color:#999999;
}
.control-label{
	font-size:11px;
	margin:0 10px 0 0;
}