*{margin:0;padding:0;list-style-type:none;}
body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	background-color:#fff8dc;
}
.container-fluid{
	width:960px;
	margin:0 auto;
}
.clear{
	clear:both;
}


/*头部开始*/
#top{
	height:50px;
	padding:20px 0 20px 0;
	border-bottom:5px solid #87ceeb;
	margin:0 0 10px 0;
}
#logo{
	float:left;
}

/*用户协议开始*/
.detail-box{
	background-color:#FFFFFF;
	padding:20px;
}
.detail-box h3{
	color:#87ceeb;
	text-align:center;
	margin:0 0 20px 0;
}