{% extends 'userinfo/user_base.html' %}

{% block meta %}
{% endblock meta %}

{% block title %}修改密码{% endblock title %}


{% block user_style %}
    <link href="/static/css/ModifyPassword.css" rel="stylesheet" type="text/css"/>


{% endblock user_style %}


{% block body-style %}
{% endblock body-style %}


{% block user_body %}
    <div id="Right" class="span8">
        <div class="modifyPassword-title">
            <h4>密码修改</h4>
        </div>

        <!--资料修改开始-->
        <div class="span6" id="modifyPassword">
            <form method="post">
                <table>
                    <tr height="50">
                        <td height="24" align="right"><label class="control-label" for="inputInfo">当前密码：</label></td>
                        <td><input type="password" id="inputInfo" name="oldpassword" required></td>
                        <td><span class="help-inline">当前密码不能为空</span></td>
                    </tr>

                    <tr height="50">
                        <td height="24" align="right"><label class="control-label" for="inputInfo">新密码：</label></td>
                        <td><input type="password" id="inputInfo" name="pwd1" required></td>
                        <td><span class="help-inline">新密码不能为空</span></td>
                    </tr>


                    <tr height="50">
                        <td height="24" align="right"><label class="control-label" for="inputInfo">确认新密码：</label></td>
                        <td><input type="password" id="inputInfo" name="pwd2" required></td>
                        <td><span class="help-inline">确认新密码不能为空</span></td>
                    </tr>

                    <tr height="50">
                        <td></td>
                        <td valign="middle" colspan="2">
                            <button class="btn btn-info" type="submit">确认修改</button>
                        </td>
                    </tr>

                </table>
            </form>
        </div>
        <!--修改结束-->

    </div>
{% endblock user_body %}

















